<h1>LOG IN</h1>

<!-- this form is in the GET route and submits to POST route-->
<form class="" action="/login" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button type="submit" name="button">Submit</button>
</form>

<li><a href="/register">SIGN UP!</a></li>
<li><a href="/login">LOG IN!</a></li>
<li><a href="/logout">LOG OUT!</a></li>
