<h1>Sign Up Form</h1>

<form class="" action="/register" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button type="submit">Submit</button>
</form>

<li><a href="/register">SIGN UP!</a></li>
<li><a href="/login">LOG IN!</a></li>
<li><a href="/logout">LOG OUT!</a></li>
